.container {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #0079BF, #65C7F7);
}

.div1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.content{
    padding-top: 125px;
    padding-left: 35px;
}

.content h1{
    width: 500px;
    color: #fff;
    font-size: 45px;
}

.content p{
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #fff;
}

.content input{
    width: 300px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    border: none !important;
}

.content button{
    width: 200px;
    height: 44px;
    background-color: #0065ff;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
    border: none !important;
}

.div2 {
    width: 50%;
    display: flex;
    justify-content: Left;
    align-items: center;
    padding-top: 20px;
}

.div2 img {
    max-width: 100%;
    height: auto;
}