.heading{
    margin-left: 0.5rem;
}
.icon{
    margin-left: 1.5rem; 
}

.searchbar{
  margin-left: 53rem;
  width: 18vw;
  margin-bottom: 0.5rem;
}

.notification{
    margin-left: 1rem;
   height: 7vh;
}